/* Genel stiller */
.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .mySlides {
    display: none;
    text-align: center;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  /* Başlık */
.title {
    font-size: 20px;
    font-weight: bold;
    color: #333; /* Metin rengi */
    text-align: center; /* Başlığı ortala */
  }
  
  /* Açıklama */
  .description {
    font-size: 16px;
    line-height: 1.5;
    color: #666; /* Metin rengi */
    text-align: center; /* Açıklamayı ortala */
  }
  
  /* Ek bilgiler */
  .additional-info {
    font-size: 14px;
    line-height: 1.3;
    color: #777; /* Metin rengi */
    text-align: center; /* Ek bilgileri ortala */
    margin-top: 10px; /* Metinler arası boşluk */
  }
  
  /* Alt metin */
  .footer {
    font-size: 20px;
    font-weight: bold;
    color: #e20d0d; /* Yeşil metin rengi */
    text-align: center; /* Alt metini ortala */
  }
  
  /* Görsellerin mobilde ölçeklenmesi */
img {
    max-width: 100%;
    height: auto;
}
  @media (max-width: 768px) {
    /* Ekran genişliği 768 pikselden küçükse, metinleri sola hizala */
    .title, .description, .additional-info, .footer {
      text-align: left;
    }


  }
  